{% extends 'main/base.html' %}

{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %} Home {% endblock %}

{% block styles %}{% endblock %}

{% block content %}
<div class="home block">
    <div class="container-fluid">
        <div class="row text-center justify-content-center">
            <div class="col-xs-12 col-lg-12 col-md-12">
                <h1>Lilartti Music</h1>
                <p>Hello everyone, on this page you can see
                    top favorite artists, сlicking on the name of the artist you
                     can see all the information about him and listen to the playlist that
                    I have collected for each artist! In the tab, you can see and hear all my favorite songs!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}