.list {
    margin:0 auto;
    padding-top: 100px;
    display:inline-block;
}

.list h1 a {
    color:black;
}

.list img {
    max-width: 100%;
    width: 500px;
    padding-left:10px;
    margin:0 auto;
    height: 550px;
}

.info {
    margin: 0 auto;
    color:white;
    background-size: cover;
}

.info h1 {
    padding-top: 100px;
}

.info p {
    padding-bottom: 400px;
    width:50%;
    margin:0 auto;
    font-size:17pt;
    background-color: rgba(0,0,0,.7);
}

.info img {
    float:left;
    max-width:100%;
    width:450px;
    padding-left:20px;
    padding-right: 20px;
    height:450px;
}

@media only screen and (max-width: 967px) {   {background-image: url({{artists.image.url}})   } }

@media screen and (min-width:300px) and (max-width:540px){
    .info p {padding-bottom: 600px;}
}