body {background-color: rgba(0,0,0,.7);}

.list {
    margin: 0 auto;
    padding-top: 100px;
    padding-left: 250px;
    display:inline-block;
}

.list h1 a {
    color:white;
    font-size: 24px;
}

.list img {
    max-width: 100%;
    width: 300px;
    margin:0 auto;
    height: 420px;
}

.info {
    margin: 0 auto;
    color:white;
    width: 100%;
}

.info h1 {
    padding-top: 100px;
}

.info p {
    padding-bottom: 400px;
    max-width: 100%;
    width:60%;
    margin:0 auto;
    font-size:17pt;
    background-color: rgba(0,0,0,.7);
}


.info img {
    float:left;
    max-width:100%;
    width:424px;
    padding-left:30px;
    padding-right: 30px;
    height:450px;
}

.info iframe {
    background-color: rgba(0,0,0,.7);
}

@media only screen and (max-width: 967px) {   {background-image: url({{artists.image.url}})   } }

@media screen and (min-width:300px) and (max-width:540px){
    .info p {padding-bottom: 600px;}
    .info p {width: 100%; padding-top:50px;}
    .info iframe {width: 100%;}
    .list {padding-left: 25px; margin:0 auto;}
    .list img {width: 100%;}
}

@media screen and (min-width:728px) and (max-width:967px) {
    .list img {width: 305px;height: 350px;}
    .info p {width: 100%;}
    .list {padding-left: 20px;}
    .info iframe {width: 100%;}
}

@media screen and (max-width:1100px) {
    .list img {width: 310px;height: 450px;}
}
