.playlist {
    margin: 0 auto;
    background-color: rgba(0,0,0,.7);
    padding-bottom: 100px;
}

.playlist h1 { font-size: 35pt; color:white; padding-top: 200px;}
.playlist p {font-size: 19pt; color: white;width: 70%;margin: 0 auto;padding-bottom: 150px;}
.playlist iframe {padding-bottom: 50px;}

@media (max-width:540px) {.playlist p {font-size: 15pt; padding-top: 30px;}}